<h2>This is a test of the program</h2>

<p>A random number from 1 to 100 is <%= rand(1..100) %></p>


<form action="/payment/results">
    <label for="square_input">Enter a number
    </label>

    <input id="square_input" type="text" placeholder="What number do you want to square?" name="user_square">
    </input>

    <button>Calculate square
    </button>
</form>