<h2>Payment Results</h2>

<dl>
    <dt>APR</dt>
    <dd><%= @perc %></dd>

    <dt>Number of years</dt>
    <dd><%= @years %></dd>

    <dt>Principal</dt>
    <dd><%= @pv %></dd>

    <dt>Payment</dt>
    <dd><%= @payment %></dd>
</dl>

<a href="/payment/new">Calculate another payment</a>